<button type="button" class="btn btn-outline-dark" onclick="selectAll()" data-bs-toggle="tooltip"
    data-bs-placement="top" data-bs-title="Tout sélectionner">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-on"
        viewBox="0 0 16 16">
        <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8" />
    </svg></button>
<button type="button" class="btn btn-outline-dark" onclick="deSelectAll()" data-bs-toggle="tooltip"
    data-bs-placement="top" data-bs-title="Tout désélectionner"><svg xmlns="http://www.w3.org/2000/svg" width="16"
        height="16" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
        <path
            d="M11 4a4 4 0 0 1 0 8H8a5 5 0 0 0 2-4 5 5 0 0 0-2-4zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8M0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5" />
    </svg></button>