<div class="container">

    <ul class="list-group interactive-list">
        {% for item in groupes %}

        <li class="list-group-item d-flex justify-content-between align-items-center"
            hx-get="{% url 'x_selectContacts' rdv_id %}?groupe={{ item.groupe.id }}" hx-trigger="click"
            hx-target="#modalStatic">{{ item.groupe }}
            <span class="badge bg-primary">{{ item.contact_count }} contact(s)</span>
        </li>

        {% empty %}
        <div class="container">
            Vous n'avez pas de groupes de contacts
        </div>
        {% endfor %}

    </ul>


</div>