<form hx-post="{% url 'x_deleteContactsFromGroupe' groupe_id %}" hx-target="#modalStatic">
    {% load widget_tweaks %}
    {% csrf_token %}

    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    {% if form.fields.contacts.queryset.count == 0 %}

    <p>Aucun contact à supprimer.</p>


    {% else %}
    <div class="mb-3">
        <button type="button" class="btn btn-light" onclick="selectAll()">Tout sélectionner</button>
        <button type="button" class="btn btn-light" onclick="deSelectAll()">Tout désélectionner</button>
    </div>


    <div class="mb-3">
        <label class="form-label">Sélectionnez les contacts à supprimer du groupe :</label>

        <div class="form-check">
            {{ form.contacts }}
        </div>
    </div>


    <input class="btn btn-primary" type="submit" value="Supprimer">
    {% endif %}

</form>