<form hx-post="{% url 'x_addGroupeContacts' %}" hx-target="#modalStatic">
    {% load widget_tweaks %}
    {% csrf_token %}


    <div class="mb-3">
        <label for="nom_liste" class="form-label">Nom du groupe</label>
        {{ form.nom }}
    </div>

    <div class="mb-3">
        <label class="form-label">Ajoutez vos contacts :</label>

        <div class="form-check">
            {{ form.contacts }}
        </div>
    </div>



    <input class="btn btn-primary" type="submit" value="Enregistrer">
</form>