{% extends "layout/base2.html" %}

{% block content %}

<!-- Modal static -->
{% include 'components/Modal/modalStatic.html' %}

<div class="container my-3">
  <p class="h1 titre">Gérer vos contacts</p>
  <div class="form-text">Vous pouvez ajouter des contacts ou créer des listes. Vous pouvez ajouter vos contacts dans vos
    listes</div>
</div>

<!-- Navigation par tabs -->
<div class="container">
  <ul class="nav nav-tabs" id="Tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="contacts-tab" data-bs-toggle="tab" data-bs-target="#contacts-tab-pane"
        type="button" role="tab" aria-controls="contacts-tab-pane" aria-selected="true">Contacts</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="liste-tab" data-bs-toggle="tab" data-bs-target="#liste-tab-pane" type="button"
        role="tab" aria-controls="liste-tab-pane" aria-selected="false" hx-get="{% url 'x_getListesContacts' %}"
        hx-target="#liste_listeContacts">Liste de contacts</button>
    </li>
  </ul>
</div>

<!-- FIn de la navigation par tabs-->

<div class="container">

  <div class="tab-content" id="TabContent">
    <div class="tab-pane fade show active" id="contacts-tab-pane" role="tabpanel" aria-labelledby="contacts-tab"
      tabindex="0">
      <div class="row py-4">
        <div class="col-auto">
          <button hx-get="{% url 'x_addContact' %}" hx-target="#modalStatic" type="button"
            class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#modalStatic">
            Ajouter contact +
          </button>
          <button hx-get="{% url 'x_getContacts' %}?tri=nom" hx-target="#liste_contacts" type="button"
            class="btn btn-outline-dark btn-sm">
            Trier par nom
          </button>
          <button hx-get="{% url 'x_getContacts' %}?tri=email" hx-target="#liste_contacts" type="button"
            class="btn btn-outline-dark btn-sm">
            Trier par email
          </button>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control form-control-sm" name="recherche" placeholder="Recherche par nom..."
            hx-get="{% url 'x_getContacts' %}" hx-trigger="keyup changed delay:300ms" hx-target="#liste_contacts" />
        </div>
      </div>

      <div>
        <div id="liste_contacts" class="py-4" hx-get="{% url 'x_getContacts' %}"
          hx-trigger="load, addContact from:body">

          {# Insertion de la liste des contacts après Load #}

        </div>
      </div>

    </div>

    {# Partie sur les groupes de contacts #}

    <div class="tab-pane fade" id="liste-tab-pane" role="tabpanel" aria-labelledby="liste-tab" tabindex="0">

      <div class="row py-4">
        <div class="col-auto">
          <button hx-get="{% url 'x_addGroupeContacts' %}" hx-target="#modalStatic" type="button"
            class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#modalStatic">
            Ajouter un groupe de Contacts
          </button>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control form-control-sm" name="recherche_liste"
            placeholder="Recherche par nom..." hx-get="{% url 'x_getListesContacts' %}"
            hx-trigger="keyup changed delay:300ms" hx-target="#liste_listeContacts" />
        </div>
      </div>

      <div>
        <div id="liste_listeContacts" class="py-4" hx-get="{% url 'x_getListesContacts' %}"
          hx-trigger="updateGroupesContacts from:body">

          {# Insertion des groupes de contacts après Load #}

        </div>
      </div>


    </div>

  </div>

</div>

{% endblock content %}

{% block script %}
<script>
  function selectAll() {
    document.querySelectorAll('input[type="checkbox"]').forEach(cb => cb.checked = true);
  }

  function deSelectAll() {
    document.querySelectorAll('input[type="checkbox"]').forEach(cb => cb.checked = false);
  }

</script>
{% endblock script %}