<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" id="modalHeader">
            <h5 class="modal-title fs-5" id="modalTitle">Ajouter des contacts</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalBody">

            <div class="mb-3">
                <i>(Les contacts déjà inscrits sont exclus de cette liste)</i>
            </div>

            <div class="mb-3 btn-group">
                {% include 'users/1_gestion_rdv/partials/buttons/tout_selectionner.html' %}
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" id="searchInput" onkeyup="searchByName()"
                    placeholder="Rechercher un nom...">
            </div>

            <div class="container" id="selectContacts">

                {% if formset %}
                <form id="contact-form">
                    {{ formset.management_form }}
                    {% for form in formset %}

                    {{ form.non_field_errors }}
                    {{ form.email }}
                    {{ form.nom }}
                    <div class="form-check">
                        {{ form.is_checked }}

                        <label class="form-check-label" for="{{ form.is_checked.id_for_label }}">
                            <b>{{ form.nom.value }}</b>
                            ({{ form.email.value }})
                        </label>


                    </div>

                    {% endfor %}
                </form>
                {% else %}

                Aucun contact à ajouter

                {% endif %}


            </div>

        </div>
        <div class="modal-footer" id="modalFooter">
            <div class="row">
                <div class="col text-start">
                    <button type="button" class="btn btn-outline-dark" hx-get="{% url 'x_addParticipant' rdv_id %}"
                        hx-target="#modalStatic">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
                            <path fill-rule="evenodd"
                                d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
                        </svg> Retour</button>
                </div>
                <div class="col text-end">
                    <button type="button" class="btn btn-primary" hx-post="{% url 'x_selectContacts' rdv_id %}"
                        hx-include="#contact-form" hx-target="#modalStatic">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>
</div>