<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" id="modalHeader">
            <h5 class="modal-title">Modifier le nom de la liste</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalBody">
            {% include 'components/ListeContacts/updateNom/UpdateNomListeForm.html' %}
        </div>
        <div class="modal-footer" id="modalFooter">
            <button type="button" class="btn" hx-get="{% url 'x_addContactsToGroupe' liste_id %}"
                hx-target="#modalStatic">Ajouter des
                contacts...</button>
            <button type="button" class="btn" hx-get="{% url 'x_deleteContactsFromGroupe' liste_id %}"
                hx-target="#modalStatic">Supprimer des contacts...</button>
        </div>
    </div>
</div>